<!DOCTYPE html>
<html lang="en">

  {% include 'header.html' %}

  <body>

    {% include 'navbar.html' %}

    <section class="hero is-medium" id = "intro-section">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-offset-4 is-4">
              <h1 class="title" id = "typewrite-wrapper">
                <span class = "is-red">The stack:&nbsp</span><span class="typewrite" data-period="2000" data-type='[ "Python", "Amazon Web Services", "MongoDB", "Bulma", "HTML/CSS", "JavaScript", "Swift"]'></span>
              </h1>
            </div>
          </div>
          <div class="columns is-vcentered" style="margin-bottom: 50px;">
            <div class="column is-2 is-offset-1">
              <div class="level" style="text-align:center">
                <img class = "image step-image level-item" style="flex-grow: 0; width: 100%;" src = "./static/images/mongodb.svg">
              </div>
            </div>
            <div class="column is-9">
              <h1 class="subtitle is-4" style="text-align:center">
                Remote data storage
              </h1>
            </div>
          </div>
          <div class="columns is-vcentered" style="margin-bottom: 50px;">
            <div class="column is-2 is-offset-1">
              <div class="level" style="text-align:center">
                <img class = "image step-image level-item" style="flex-grow: 0; width: 100%;" src = "./static/images/python.svg">
              </div>
            </div>
            <div class="column is-9">
              <h1 class="subtitle is-4" style="text-align:center">
                Server-side language and data analytics
              </h1>
            </div>
          </div>
          <div class="columns is-vcentered" style="margin-bottom: 50px;">
            <div class="column is-2 is-offset-1">
              <div class="level" style="text-align:center">
                <img class = "image step-image level-item" style="flex-grow: 0; width: 100%;" src = "./static/images/js.svg">
              </div>
            </div>
            <br>
            <div class="column is-9">
              <h1 class="subtitle is-4" style="text-align:center">
                Client-side API requests and dynamic data
              </h1>
            </div>
          </div>
          <div class="columns is-vcentered" style="margin-bottom: 50px;">
            <div class="column is-2 is-offset-1">
              <div class="level" style="text-align:center">
                <img class = "image step-image level-item" style="flex-grow: 0; width: 100%;" src = "./static/images/csshtml.svg">
              </div>
            </div>
            <div class="column is-9">
              <h1 class="subtitle is-4" style="text-align:center">
                Bulma framework, frontend design
              </h1>
            </div>
          </div>
          <div class="columns is-vcentered" style="margin-bottom: 50px;">
            <div class="column is-2 is-offset-1">
              <div class="level" style="text-align:center">
                <img class = "image step-image level-item" style="flex-grow: 0; width: 100%;" src = "./static/images/swift.svg">
              </div>
            </div>
            <div class="column is-9">
              <h1 class="subtitle is-4" style="text-align:center; align-items: center;">
                Mobile app
              </h1>
            </div>
          </div>
          <div class="columns is-vcentered" style="margin-bottom: 50px;">
            <div class="column is-2 is-offset-1">
              <div class="level" style="text-align:center">
                <img class = "image step-image level-item" style="flex-grow: 0; width: 100%;" src = "./static/images/aws.svg">
              </div>
            </div>
            <div class="column is-9">
              <h1 class="subtitle is-4" style="text-align:center">
                Hosted on EC2 instance with Linux server
              </h1>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>






    {% include 'footer.html' %}

    <!-- Main JS File -->
    <script type="text/javascript" src="./static/js/about.js"></script>
    <script type="text/javascript" src="./static/js/typewrite.js"></script>

  </body>

</html>



<!--
We first identify what people are buying over and over again. We group the items by category, merchant, and purchase frequency. We then use machine learning to pick and choose the right discounts for you. -->
