<section class="hero is-small is-white-bg">
  <br>
  <div class="columns">
    <div class="column is-4 is-offset-4">
        <hr id = "footer-hr">
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4" style="text-align:center">
          <div class="columns">
            <div class="column subtitle is-m is-red">
              <a href = "/signup" class = "subtitle is-m is-red">
                Make An Account
              </a>
            </div>
          </div>
        </div>
        <div class="column is-4" style="text-align:center">
          <span class = "subtitle is-m is-red">
            Kickback&trade; 2018
          </span>
        </div>
        <div class="column is-4" style="text-align:center">
          <a href = "https://github.com/kartkand/kickback" class = "subtitle is-m is-red" id = "github-icon">
            Github
          </a>
        </div>
        </h1>
      </div>
    </div>
  </div>
  <br>
</section>
